[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django = "*"
python-decouple = "*"
redis = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
